@font-face {
	font-family: "Play";
	font-weight: 700;
	src: url("../../fonts/Play-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Impact";
	src: url("../../fonts/impact.ttf") format("truetype");
}
@font-face {
	font-family: "Arial Black";
	src: url("../../fonts/Arial Black.ttf") format("truetype");
}

body {
	font-family: "Arial Black", sans-serif;
	position: relative;
	z-index: -1000;
	background-color: black;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	font-size: 0;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


/* Header */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #000;
	border-bottom: 3px solid white;
}
header .header-content {
	display: flex;
	flex-direction: column;
	
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Logo */

.logo {
	font-family: Impact, sans-serif;
	color: #fff;
	text-align: center;
	width: 820px;
	height: 320px;
	background: url("../../images/logo-bg-820x320.jpg") center no-repeat;
	background-size: cover;
}
.logo img {
	width: 152px;
	height: 155px;
}

.logo h1 {
	font-size: 18px;
	margin-top: 15px;

	transition: all 1.5s ease 1s;
	opacity: 0;
	transform: translateX(50px);

	text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.3);
}
/*
.logo * {
	font-size: 28px;
	line-height: 100%;
}
.logo h2 {
	margin-top: 45px;

	transition: all 1.5s ease 2.4s;
	opacity: 0;
	transform: translateX(50px);
}
.logo abbr {
	color: rgb(221, 0, 0);
}
*/

/* Links */

header nav a {
	display: inline-block;
	text-align: center;
	width: 25%;
	font-family: Play, sans-serif;
	font-size: 12px;
	line-height: 27px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	transition: background-color 0.4s ease 0s;
}
header nav a:hover {
	background-color: rgb(221, 0, 0);
}
header nav a:not(:last-child) {
	border-right: 1px solid white;
}




/* Main */


main {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-color: rgb(241, 178, 1);
	z-index: -2;
}
main::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;

	background: url("../../images/grid.png") center top repeat;
}


/* Main section headings */

.article-heading {
	text-align: center;
	font-family: "Impact", sans-serif;
	font-size: 35px;
	letter-spacing: 0.03em;

	margin: 40px 0;
}

/* Main article section */

main article {
	max-width: 839px;
}
main article p {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 19.5px;
	letter-spacing: 0.03em;
	margin-bottom: 20px;
}


/* Footer */

footer {
	background-color: #000;
	height: 160px;
	border-top: 3px solid white;
}


/* Other screen resolutions */

@media screen and (max-width: 1024px) {
	/* Main section headings */

	.article-heading {
		font-size: 33px;
	}

	/* Main article section */

	main article {
		max-width: 770px;
	}
	main article p {
		font-size: 15px;
		margin-bottom: 20px;
	}

	/* Footer */

	footer {
		height: 140px;
	}
}
@media screen and (max-width: 820px) {
	/* Logo */

	.logo {
		width: 500px;
		height: 195px;
	}
	.logo img {
		width: 80px;
		height: 82px;
	}

	.logo h1 {
		font-size: 14px;
		margin-top: 15px;
	}

	/* Links */

	header nav a {
		font-size: 8px;
		line-height: 27px;
	}

	/* Main section headings */

	.article-heading {
		font-size: 30px;
		margin: 30px 0;
	}

	/* Main article section */

	main article {
		max-width: 650px;
	}
	main article p {
		font-size: 14px;
		line-height: 130%;
		margin-bottom: 20px;
	}

	/* Footer */

	footer {
		height: 120px;
	}
}
@media screen and (max-width: 710px) {
	/* Main section headings */

	.article-heading {
		font-size: 28px;
	}

	/* Main article section */

	main article {
		max-width: 450px;
	}
	main article p {
		font-size: 13px;
		margin-bottom: 15px;
	}

	/* Footer */

	footer {
		height: 100px;
	}
}
@media screen and (max-width: 499px) {
	/* Logo */

	.logo {
		width: 320px;
		height: 125px;
	}
	.logo img {
		width: 50px;
		height: 51px;
	}

	.logo h1 {
		font-size: 10px;
		margin-top: 10px;
	}

	/* Links */

	header nav a {
		font-size: 4px;
		line-height: 27px;
	}

	/* Main section headings */

	.article-heading {
		font-size: 20px;
	}

	/* Main article section */

	main article {
		max-width: 270px;
	}
	main article p {
		font-size: 10px;
		margin-bottom: 10px;
	}

	/* Footer */

	footer {
		height: 60px;
	}
}